.center {
  text-align: center;
}

.btn-orange {
  background-color: #ff8a46 !important;
  color: #fff !important;
}

.text-orange {
  color: #ff8a46 !important;
}
@media only screen and (max-width: 667px) and (min-width: 320px)
