.profit-history {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.profit-history h3.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
}

.profit-history .ui.container {
  margin-top: 10px ;
}

.profit-history .btn-group .button {
  color: #fff;
}

.profit-history .sum-info {
  position: relative;
  border-bottom: 1px solid  #ececec;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  font-size:  1rem;
  font-weight: 500;
  color: #444;

}

.profit-history .sum-info span {
  position: absolute;
  right: 0;
}

.profit-history .des-info {
  font-size:  1rem;
  font-weight: 500;
  color: #444;
}
