.change-password-form {
  padding-bottom: 40px;
  padding-top: 2rem;
}

.change-password-form .segment {
  padding: 2rem !important;
}

.change-password-form .tite-form {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666666;
}

.change-password-form .ui.form .field>label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.change-password-form .ui.form .field>input {
  font-size: 0.875rem;
  font-weight: 500;
}

.change-password-form .ui.form .button {
  margin-top: 2rem;
}
