.credit-card {
  margin-top: 120px !important;
  margin-bottom: 100px!important;
}

.credit-card .ui.form.form-create {
  border: none;
  box-shadow: none;
  padding: 20px 30px;
}

.credit-card .form-create .field.field-input label {
  font-size: 12px ;
  font-weight: 500;
}

.credit-card .form-create .field.field-input label span {
  color: #e84465;
  padding-left: 10px;
}

.credit-card .form-create label {
  font-size: 12px ;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;

}

.credit-card .form-create span {
  color: #e84465;
  padding-left: 10px;

}

.credit-card .form-create .not-text {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  color: #ff8a46;
}

.credit-card .form-create input {
  font-size: 0.875rem !important;
}

@media only screen and (max-width: 767px) {
  .ui.text.container-customize.credit-card {
    width: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  .ui.text.container-customize.credit-card {
    width: auto !important;

  }
}
