.creditcard-ok {
  margin-top: 30px !important;
  margin-bottom: 30px!important;
}

.creditcard-ok .ui.segment.content {
  padding: 20px 30px;
}

.creditcard-ok .ui.segment.content h2 {
  padding-bottom: 16px;
  font-size: 1.5rem;
}

.creditcard-ok .ui.segment.content p.text-confirm {
  margin-bottom: 8px;
}

.creditcard-ok .ui.segment.content .button {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .ui.text.container-customize.creditcard-ok {
    width: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  .ui.text.container-customize.creditcard-ok {
    width: auto !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
}
