.credit-card {
  margin-top: 3rem !important;
  margin-bottom: 2rem!important;
}

.credit-card .ui.form.form-create {
  border: none;
  box-shadow: none;
  padding: 20px 30px;
}

.credit-card .title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #666666;
}
.credit-card .form-create .field.field-input label {
  font-size: 12px ;
  font-weight: 500;
  margin-bottom: 7px;
}

.credit-card .form-create .field.field-input label span {
  color: #e84465;
  padding-left: 10px;
}

.credit-card .form-create label {
  font-size: 12px ;
  font-weight: 500;
  margin-bottom: 7px;
  display: block;
}

.credit-card .form-create span {
  color: #e84465;
  padding-left: 10px;

}

.credit-card .form-create .labels {
 padding-bottom: 5px;
}

.credit-card .form-create .labels .label {
  font-size: 1rem !important;
}

.credit-card .form-create .labels .label .icon {
  font-size: 1.25rem;
}
.credit-card .form-create .not-text {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  color: #ff8a46;
}

.credit-card .form-create input {
  font-size: 0.875rem !important;
}

.credit-card .form-create .button {
  margin-top: 2rem;
}
@media only screen and (max-width: 767px) {
  .ui.text.container-customize.credit-card {
    width: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  .ui.text.container-customize.credit-card {
    width: auto !important;

  }
}
