.blog-item {
  background-color: #fff !important;
  padding: 15px !important;
  border-radius: 4px !important;
  position: relative;
}

.blog-item .content .des {
  font-size: 0.875rem;
  color: #333;
  position: absolute;
  bottom: 10px;
}

.blog-item .content .des span.cetegory a {
  color: #878787 !important;
  padding-left: 5px;
}

.blog-item .content .des span.cetegory a:hover {
  color: #ff8a46 !important;
}

.blog-item .content .des span.cetegory::after {
  content: ",";
}

.blog-item .content .des span.cetegory:last-child::after {
  content: "";
}

@media only screen and (max-width: 667px) and (min-width: 320px) {
  .blog-item .content .des {
    position: initial;
  }
}
