.blog-detail {
  border-radius: 4px;
  background-color: #fff;
  padding: 1rem;
}

.blog-detail .line {
  height: 1px;
  background-color: #ececec;
  margin-bottom: 1rem;
}
.blog-detail .blog-content .text-content {
  font-size: 0.875rem;
  font-weight: 500;
  color: #444444;
  padding-bottom: 1rem;
}
.blog-detail .blog-content .img-detail {
  margin-bottom: 40px;
}

