.blog-item {
  background-color: #fff !important;
  padding: 15px !important;
  border-radius: 4px !important;
  position: relative;
}

.blog-item .content .des {
  font-size: 0.875rem;
  color: #333;
  position: absolute;
  bottom: 10px;
}

