.detail-page {
  background: #fff;
}

.detail-page>.blok-content>.ui.grid.detail-content {
  background-color: #f4f1f0;
  margin-bottom: 10px;
}

.detail-page>.detail-content>.left-nav {
  padding-left: 30px !important;
  margin-top: 50px;
}

.detail-page>.blok-content>.detail-content {
  margin: 0;
}
.detail-page>.blok-content>.detail-content>.column.left-nav {
  padding-left: 2rem !important;
  padding-top: 6rem !important;
  padding-right: 0!important;
}

.detail-page>.blok-content>.detail-content>.column.left-nav a.link {
  display: block !important;
  color: #878787;
  line-height: 2;
}

.detail-page>.ui.detail-event {
  margin-top: 1.5rem;
}

.detail-page>.detail-event>.left-menu>.ui.segment {
  background-color: #f4f1f0;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .detail-page>.blok-content>.detail-content>.column.left-nav a.link {
    display: inline-block !important;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .detail-page>.blok-content>.detail-content>.column.left-nav {
    padding-top: 3rem !important;
  }
}

