.editable-member-profile {
  margin-top: -1rem;
}

.editable-member-profile .cover-image {
  position: relative;
  text-align: center;
}

.editable-member-profile .cover-image .user-avatar {
  position: absolute;
  top: 42%;
  right: 42%;
}

@media only screen and (max-width: 768px) {
  .editable-member-profile .cover-image .user-avatar {
    right: 39%;
  }
}

@media only screen and (max-width: 480px) {
  .editable-member-profile .cover-image .user-avatar {
    right: 22%;
  }
  .editable-member-profile .cover-image .user-avatar .edit {
    right: 120px;
  }
}

.editable-member-profile .cover-image img {
  margin: auto;
}

.editable-member-profile .cover-image .form label {
  font-size: 1.125rem !important;
  line-height: 0.8 !important;
  color: #444444 !important;
  font-weight: 500!important;
  margin-bottom: 0.7rem !important;
}

.editable-member-profile .cover-image .ui.segment {
  top: 45px;
}

.editable-member-profile .cover-image .ui.segment img {
  height: 80px;
  object-fit: cover;
}

.editable-member-profile .cover-image .user-avatar .user-description {
  text-align: left;
}

.editable-member-profile .cover-image img {
  margin: auto;
}

.editable-member-profile .cover-image .form label {
  font-size: 1.125rem !important;
  line-height: 0.8 !important;
  color: #444444 !important;
  font-weight: 500!important;
  margin-bottom: 0.7rem !important;
}

.editable-member-profile .edit-form .ui.form {
  text-align: left;
}

.editable-member-profile .menu-sub {
  display: inline-block;
  margin-top: 452px;
  margin-bottom: 0;

}
.editable-member-profile .menu-sub .nav-item {
  display: inline-block;
  position: relative;
  padding-right: 8px;
  padding-left: 8px;
}
.editable-member-profile .menu-sub .nav-item .count {
    position: absolute;
    top: -1rem;
    right: 50%;

}
.editable-member-profile .menu-sub .nav-item .link-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #878787;
}

.editable-member-profile .menu-sub .nav-item .link-item.active {
  border-bottom: 2px solid #ff8a46;
  padding-bottom: 10px;
  color: #ff8a46;
}

@media only screen and (max-width: 768px) {
  .editable-member-profile .cover-image .user-avatar {
    right: 39%;
  }
  .editable-member-profile .cover-image {
    height: 400px;
  }
  .editable-member-profile .cover-image .ui.segment {
    top: 10px;
  }

}

@media only screen and (max-width: 480px) {
  .editable-member-profile .cover-image .user-avatar {
    right: 22%;
  }
  .editable-member-profile .cover-image .user-avatar .edit {
    right: 120px;
  }
  .editable-member-profile .menu-sub .nav-item {
    padding-bottom: 2rem;
  }
  .editable-member-profile .cover-image .ui.segment img {
    height: 50px;
    width: 50px;
  }
  .editable-member-profile .cover-image .form label {
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  .editable-member-profile .cover-image {
    height: 350px;
  }

}
