.event-image-slider {

}

.event-image-slider .ui.horizontal.list:not(.celled)>.item:first-child {
  padding-left: .5rem !important;
}
.event-image-slider .basic .icon{
  display: inline-block;
  position: absolute;
  top: 70px;
}

.event-image-slider .basic .left-icon {
  left: 0;
}

.event-image-slider .basic .right-icon {
  right: 33px;
}

@media only screen and (max-width: 480px) {
  .event-image-slider .basic .image {
    width: 220px !important;
  }
  .event-image-slider .basic .icon {
    top: 37px;
  }
  .event-image-slider img.ui.item.small.image {
    width: 95px !important;
  }
}
