.event-detail-header {

}

.ui.grid.event-detail-header>.row>.title-header {
  padding-left: 2.5rem;
}

.ui.grid.event-detail-header>.row>.title-header>.title-event {
  line-height: 1;
  color: #444444;
  font-size: 1.125rem;
  margin-bottom: 7px;
}

.ui.grid.event-detail-header>.row>.title-header>.note-event {
  display: inline-block;
  margin-right: 0.625rem;
  color: #beb9b9;
  font-size: 0.75rem;
}

.ui.grid.event-detail-header>.row>.detail-header {
  padding-top: 1rem;
  padding-left: 10rem;
}


@media only screen and (max-width: 1024px) and (min-width: 320px) {
  .ui.grid.event-detail-header>.row>.detail-header {
    padding-left: 0;
  }
}

.ui.grid.event-detail-header>.row>.detail-header>.des {
  display: inline-block;
  margin-left: 2rem;
  line-height: 1;
  color: #666666;
  font-size: 0.875rem;
  border-bottom: 2px solid #e7e5e5!important;
  padding-bottom: 3px;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .ui.grid.event-detail-header>.row>.detail-header>.des {
   margin-left: 1rem;
  }
  .ui.grid.event-detail-header>.row>.detail-header>.des:first-child {
   margin-left: 0rem;
  }
}

.ui.grid.event-detail-header>.row>.detail-header>.des span.count {
  padding-left: 5px;
  line-height: 1;
  color: #444444;
  font-size: 1.5rem;
  font-weight: 500;
}

.ui.grid.event-detail-header>.row>.detail-header>.des span.limit {
  font-size: 1rem;
}

.ui.grid.event-detail-header>.row>.group-likes {
  padding-left: 5.25rem !important;
}

@media only screen and (max-width: 1024px) and (min-width: 320px) {
  .ui.grid.event-detail-header>.row>.group-likes {
    padding-left: 0;
  }
}
