.ui.text.container.exploder {
  margin-top: 30px;
}

.ui.stackable.menu.form-elements.buttons {
  border: 0;
  margin-bottom: 5px;
}

.exploder .form-elements {
  width: 100%;
}

.exploder .formated-btn {
  background-color: #fff !important;
}

.exploder .formated-btn i{
  float: right;
}

.ui.button.formated-btn {
  border: 1px solid #E0E1E2;
  color: #a9a9a9;
  font-weight: normal;
}
