.lp-baner-01 {
  margin-bottom: 67px;
  margin-top: 68px;
}

.lp-baner-01 .header-text {
  line-height: 1;
  color: #383838;
}

.lp-baner-01 .text {
  line-height: 1;
  font-size: 1em;
  color: #666666;
}


.lp-baner-01 .intro-table {
  padding-top: 30px;
}
.lp-baner-01 .art-block {
  background-color: #fbfbfb;
}

.lp-baner-01 .art-block  .art-img {
  height: 150.3px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: block;
}

.lp-baner-01 .art-block .art-img-1 {
  background-image: url('/img/art-img-1.jpg');
}

.lp-baner-01 .art-block .art-img-2 {
  background-image: url('/img/art-img-2.jpg');
}
.lp-baner-01 .art-block .art-img-3 {
  background-image: url('/img/art-img-3.jpg');
}

.lp-baner-01 .art-block .art-title {
  font-family: NotoSansCJKjp;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: center;
  color: #f68452;
}

.lp-baner-01 .art-block .art-text {
  height: 60px;
}

.lp-baner-01 .ui.container.btn-reset {
  text-align: center;
  display: block;
  margin-top: 39px;
}
