.lp-baner-02 {
  width: 100%;
  height: 200px;
  background-image: url('/img/cover-banner-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.lp-baner-02 .art-title {
  color: white;
}

.lp-baner-02 .art-text {
  color: white;
}

.lp-baner-02 .art-button {
  color: white;
}
