.member-list {

}

.member-list .title-memeber-list {
  font-size:  1.5rem;
  font-weight: 500;
  line-height: 0.83;
  color: #383838;
}

.member-list>.list>.item {
  padding: 14px 0 !important;
  position: relative;
}
.member-list>.list>.item:first-child {
  border-top: 1px solid rgba(34,36,38,.15) !important;
}

.member-list>.list>.item>.image img.img-avatar {
  width: 50px;
  height: 50px;
}

.member-list>.list>.item>.btn-remove {
  position: absolute;
  top: 20px;
  right: 0px;
}
