.top-nav {
  display: inline-block;
}

.top-nav .top-nav-list {
  margin: 0;
  padding: 0;
}

ul.ui.stackable.menu.top-nav-list {
  background: none !important;
  border: 0;
  box-shadow: none;
}

.top-nav .top-nav-list .nav-item {
  display: inline;
  padding: 8px 10px;
}

.top-nav .top-nav-list .nav-item a {
  font-size: 14px;
  color: #fff;
}

.top-nav .nav-menu-item {
  display: inline;
}
