.top-n-events {
  min-height: 200px;
  padding-top: 72px;
  padding-bottom: 15px;
}

.top-n-events .block-events-header {
  font-size: 20px;
  padding: 5px 0 10px;
  margin: 0 15px;
  color: #aea7a7;
}

.top-n-events .block-events-header .block-events-title {
  display: inline-block;
  color: #444;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
  margin: 10px 0;
}

.top-n-events .block-events-header .block-events-link {
  display: inline-block;
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  background-color:  #e7e5e5;
  width: 100px;
  margin: 10px 0;
  line-height: 1;
}

@media only screen and (max-width: 667px) and (min-width: 320px) {
  .ui .top-n-events .block-events-header .block-events-link {
    float: none;
    display: block;
  }
}

.top-n-events .block-events-header .block-events-link a {
  color: #aea7a7;
  font-size: 1em;
  font-weight: bold;
}

.top-n-events .block-events-header .block-events-link i {
  margin-left: 14px;
}

.top-n-events .block-events-content {
  padding-top: 8px;
}

.ui.link.cards.block-events-content {
  margin: 0;
}

.ui.link.cards.block-events-content >.event-item {
  margin: 10px;
}
