.top-n-events {
  min-height: 200px;
  padding-top: 72px;
}

.top-n-events .block-events-header {
  font-size: 20px;
}

.top-n-events .block-events-header .block-events-title {
  display: inline-block;
}

.top-n-events .block-events-header .block-events-link {
  display: inline-block;
  float: right;
}

.top-n-events .block-events-content {
  padding-top: 32px;
}

.ui.link.cards.block-events-content {
  margin: 0;
}

.ui.link.cards.block-events-content >.event-item {
  margin: 10px;
}
