.top-nav {
  display: inline-block;
  background-color: #fff;
}

.top-nav .top-nav-list {
  margin: 0;
  padding: 0;
}

ul.ui.stackable.menu.top-nav-list {
  background: none !important;
  border: 0;
  box-shadow: none;
}

.top-nav .top-nav-list .nav-item {
  display: inline;
  padding: 8px 10px;
}

.top-nav .top-nav-list .nav-item a {
  font-size: 14px;
  color: #444444;
}

.top-nav .nav-menu-item {
  display: inline;
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
  .top-nav .top-nav-list .nav-item a {
  font-size: 10px;
  }
  .top-nav .top-nav-list .nav-item {
  padding: 8px 5px;
  }
}
