.user-menu {
  display: inline;
}

.user-menu .user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: absolute;
}

.user-menu > a {
  margin-left: 30px;
}

.submenu-anchor {
  position: relative;
}
