.event-confirm-form {
  padding: 20px;
  background-color: #fff;
}

.event-confirm-form label {
  font-weight: 500 !important;
  line-height: 1 !important;
  font-size: 1.25rem !important;
  color: #444 !important;
  margin-bottom: 1rem !important;
}

@media only screen and (max-width: 767px) {
  .event-confirm-form .field{
    margin-bottom: 1rem !important;
  }
}
